div.rcc-autocomplete {
	position: relative;

	div.rcc-autocomplete-inner {
		z-index: 1;
		position: absolute;
		top: 1px;
		background-color: #fff;
		border: 1px solid #ddd;
		.border-radius();
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
		min-width: 100px;

		div.items {

			div {
				padding: 2px 7px;

				&:hover, &.active {
					background-color: #428bca;
					color: #fff;
				}
			}

		}

		div.show-more {
			padding: 5px 7px;
			border-top: 1px solid #ddd;
			font-style: italic;
		}
	}
}