div.rcc-slider {
	width: 25px;
	background-color: #F5F5F5;
	.border-radius();
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;

	div.inner div {
		width: 100%;
		height: 5px;

		&:first-child {
			.border-radius(4px 4px 0 0);
		}

		&:last-child {
			.border-radius(0 0 4px 4px);
		}
		
		&.selected {
			background-color: #428BCA;
		}
	}
}
div.rcc-slider-readonly {
	.opacity(0.6);
}